@import "_rating.scss";

.card-flip > div {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  background-color: #222;
  transform: rotateY(0deg);
}
