@import "_body.scss";

.movies-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.movies-group > .row > .col-md-3 {
  display: inline-block;
  float: none;
}

.movies-group-title {
  display: inline-block;
}

@import "_movies_grid.scss";
